*{margin:0;padding:0}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0}

.uni-page-head .uni-page-head__title {
	font-size: 36rpx !important;
}

.uni-collapse-cell--open {
	background-color: #FFFFFF !important;
}

.clearfix:before,
.clearfix:after {
	display: table;
	content: "";
}
.clearfix:after {
	clear: both;
}
.clearfix {
	*zoom: 1;
}

.square {
	width: 68rpx;
	height: 68rpx;
	border-radius: 10rpx;
	color: #FFFFFF;
	display: flex;
	align-items: center;
	justify-content: center;
	background: #F0F5F9;
}
.u-left{
	float: left;
}
.u-right{
	float: right;
}